/* --------------------------------------------- CSS GLOBAL PAGE D'ACCUEIL */
.part3, .part4, .part5{
    clear: both;
    margin-bottom: 6em;
    h2{
        text-align: center;
        font-size: 34px;
        margin-top: 20px;
    }
}
/* Mise en forme des cards de chaque section */
.item-categorie{
    border: 2px solid gray;
    box-shadow: 2px 2px 3px black;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 4em;
    img{
        display: inline-block;
        width: 100%;
        height: 50%;
    }
    p{
        font-size: 20px;
        margin-top: 30px;
    }
}

/* Test mise en forme des balises <hr> */
hr {
	display: block;
	clear: both;
	height: 0;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 60px;
    line-height: 1;
    margin-bottom: 4rem !important;
}
hr:after {
	content: "\273D \273D \273D";
	height: 0;			
	letter-spacing: 1em;
	color: #aaa;
}
hr:nth-child(2){
    display:none;
}

/* ---------------------------------------------  HEADER */
/* ---------------------------------------------  PARTIE 1 */

/* Mise en forme du logo de la page home */
#logo-home{
    height: fit-content;
}

button{
    border: 1px solid black;
    height: 50px;
    width: 80px;
    a{
        color: white;
    }
}

/* ---------------------------------------------  PARTIE 2 */
/* Mise en forme du H1 de la page home */
.entete-homepage{
    position: absolute;
    top: 8em;
    left: 13em;
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
}
.sous-titre{
    top:14em;
    left: 13.8em;
}

/* Mise en forme de la barre de recherche */
.recherche{
    margin-top: -5em;
    max-width: 600px;
    margin-left: calc(50% - 288px);
    button{
        background-color: blueviolet;
        color: white;
    }
}

/* ---------------------------------------------  PARTIE 3 */
.part3{
    margin-top:65px;
}
.see-more-button{
    margin-left: calc(50% - 6em);
    width: auto;
}

/* ---------------------------------------------  PARTIE 4 */
.part4{
    .item-categorie{
        border-bottom-right-radius: 15%;
        border-bottom-left-radius: 15%;
    }
}

/* ---------------------------------------------  PARTIE 5 */
.part5{
    .item-categorie{
        img{
            border-radius: 50%;
            height: 65%;
            width: 65%;
            margin-top: -4em;
        }
    }
}